
/StepCounterWebApi/bin
/StepCounterWebApi/obj/Debug
/.vs/StepCounterWebApi/FileContentIndex
.vs/StepCounterWebApi/DesignTimeBuild/.dtbcache.v2
/.vs/StepCounterWebApi/v17
/StepCounterWebApi/obj
/StepCounterWebApi/Properties/PublishProfiles
StepCounterWebApi/Properties/PublishProfiles/StepCounterWebApi - Web Deploy.pubxml.user
/.vs/ProjectEvaluation/stepcounterwebapi.metadata.v9.bin
/.vs/ProjectEvaluation/stepcounterwebapi.projects.v9.bin
/.vs/ProjectEvaluation/stepcounterwebapi.strings.v9.bin
